/*talef-1-*/
.child .title{
    color: red;
}
div .title{
    color: blue;
}
p,
.title{
    color: green;
}
/*------------------------------------------------------------------------*/
/*talef-2-*/
.container p{
    background-color: rgb(197, 42, 42);
    color: white;
    width: fit-content;
    max-width: 400px;
    font-size: 30px;
    padding: 10px;
    max-height: 90px;
    overflow: hidden;
    
}